/*
Theme Name: Spectra Child
Theme URI: none
Description: Spectra Child Theme
Author: Your Name
Author URI: http://noahsportfolio.co.uk
Template: spectra-one
Version: 1.0.0
*/
/* Add your custom styles here */

.video-project-embed.wp-block-group,
.video-project-embed {
	margin: 0 !important;
	padding: 0 !important;
	max-width: none !important;
}

.video-project-embed .video-container {
	border-radius: 0 !important;
	box-shadow: none !important;
}
