<!-- wp:spectra-child/site-header /-->

<!-- wp:uagb/container {"block_id":"87d2cda6","directionDesktop":"row","alignItemsDesktop":"flex-end","justifyContentDesktop":"flex-start","justifyContentTablet":"flex-start","justifyContentMobile":"flex-start","topPaddingDesktop":13.75,"bottomPaddingDesktop":1.25,"leftPaddingDesktop":3.5,"rightPaddingDesktop":3.5,"topPaddingTablet":10,"bottomPaddingTablet":1.25,"leftPaddingTablet":2.5,"rightPaddingTablet":2.5,"topPaddingMobile":6.75,"bottomPaddingMobile":1.25,"leftPaddingMobile":1.5,"rightPaddingMobile":1.5,"paddingType":"em","paddingTypeTablet":"em","paddingTypeMobile":"em","paddingLink":false,"variationSelected":true,"isBlockRootParent":true,"containerBorderLink":false,"containerBorderStyle":"none","childrenWidthDesktop":"auto","className":"page-hero","metadata":{"name":"Page Hero","categories":[],"patternName":"core/block/824"}} -->
<div class="wp-block-uagb-container page-hero uagb-block-87d2cda6 alignfull uagb-is-root-container"><div class="uagb-container-inner-blocks-wrap"><!-- wp:uagb/container {"block_id":"1f0d27c2","directionDesktop":"row","alignItemsDesktop":"flex-start","justifyContentTablet":"flex-start","justifyContentMobile":"flex-start","childrenWidthDesktop":"equal"} -->
<div class="wp-block-uagb-container uagb-block-1f0d27c2"><!-- wp:uagb/container {"block_id":"5b90c382","directionTablet":"column","alignItemsDesktop":"flex-start","alignItemsTablet":"flex-start","alignItemsMobile":"flex-start","justifyContentDesktop":"flex-end","wrapTablet":"wrap","alignContentTablet":"flex-start","alignContentMobile":"flex-start","widthSetByUser":true,"metadata":{"name":"Hero info - Wrap"}} -->
<div class="wp-block-uagb-container uagb-block-5b90c382"><!-- wp:paragraph {"className":"is-style-kicker","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-steel"}}}},"textColor":"custom-steel"} -->
<p class="is-style-kicker has-custom-steel-color has-text-color has-link-color">// Blog</p>
<!-- /wp:paragraph -->

<!-- wp:uagb/advanced-heading {"block_id":"38b78a9e","classMigrate":true,"headingDescToggle":false,"headingTag":"h1","blockBottomPadding":0,"blockPaddingUnit":"em","blockTopMargin":0.75,"blockRightMargin":0,"blockLeftMargin":0,"blockBottomMargin":1,"blockMarginUnit":"em"} -->
<div class="wp-block-uagb-advanced-heading uagb-block-38b78a9e"><h1 class="uagb-heading-text">Behind the Lens</h1></div>
<!-- /wp:uagb/advanced-heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|large"}}}} -->
<p style="margin-bottom:var(--wp--preset--spacing--large)">Practical advice, project updates, and industry news from our Edinburgh studio.</p>
<!-- /wp:paragraph -->

<!-- wp:uagb/buttons {"block_id":"51138dfc","classMigrate":true,"childMigrate":true,"align":"left","gap":14,"topMarginMobile":0,"rightMarginMobile":0,"bottomMarginMobile":2.25,"leftMarginMobile":0,"marginType":"em","metadata":{"name":"","blockVisibility":false}} -->
<div class="wp-block-uagb-buttons uagb-buttons__outer-wrap uagb-btn__default-btn uagb-btn-tablet__default-btn uagb-btn-mobile__default-btn uagb-block-51138dfc"><div class="uagb-buttons__wrap uagb-buttons-layout-wrap "><!-- wp:uagb/buttons-child {"block_id":"d4228ee3","label":"Start Your Project","link":"#","hColor":"","btnBorderTopWidth":1,"btnBorderLeftWidth":1,"btnBorderRightWidth":1,"btnBorderBottomWidth":1,"btnBorderStyle":"solid","btnBorderColor":"#333","btnBorderHColor":"#333","className":"vpe-custom-btn"} -->
<div class="wp-block-uagb-buttons-child uagb-buttons__outer-wrap uagb-block-d4228ee3 wp-block-button vpe-custom-btn"><div class="uagb-button__wrapper"><a class="uagb-buttons-repeater wp-block-button__link" aria-label="" href="#" rel="follow noopener" target="_self" role="button"><div class="uagb-button__link">Start Your Project</div></a></div></div>
<!-- /wp:uagb/buttons-child -->

<!-- wp:uagb/buttons-child {"block_id":"6a11b796","label":"View Our Work","link":"#","hColor":"","btnBorderTopWidth":1,"btnBorderLeftWidth":1,"btnBorderRightWidth":1,"btnBorderBottomWidth":1,"btnBorderStyle":"solid","btnBorderColor":"#333","btnBorderHColor":"#333","className":"vpe-custom-btn vpe-custom-btn--secondary"} -->
<div class="wp-block-uagb-buttons-child uagb-buttons__outer-wrap uagb-block-6a11b796 wp-block-button vpe-custom-btn vpe-custom-btn--secondary"><div class="uagb-button__wrapper"><a class="uagb-buttons-repeater wp-block-button__link" aria-label="" href="#" rel="follow noopener" target="_self" role="button"><div class="uagb-button__link">View Our Work</div></a></div></div>
<!-- /wp:uagb/buttons-child --></div></div>
<!-- /wp:uagb/buttons --></div>
<!-- /wp:uagb/container --></div>
<!-- /wp:uagb/container --></div></div>
<!-- /wp:uagb/container -->

<!-- wp:uagb/container {"block_id":"469d4a0c","topMarginDesktop":0,"bottomMarginDesktop":0.75,"leftMarginDesktop":0,"rightMarginDesktop":0,"bottomMarginTablet":2.75,"bottomMarginMobile":2,"marginType":"em","marginTypeTablet":"em","marginTypeMobile":"em","marginLink":false,"variationSelected":true,"isBlockRootParent":true,"metadata":{"name":"Separator"}} -->
<div class="wp-block-uagb-container uagb-block-469d4a0c alignfull uagb-is-root-container"><div class="uagb-container-inner-blocks-wrap"><!-- wp:uagb/separator {"block_id":"6b4181c8","separatorBorderHeight":1,"separatorColor":"#e9e9e9"} -->
<div class="wp-block-uagb-separator uagb-block-6b4181c8"><div class="wp-block-uagb-separator__inner" style="--my-background-image:"></div></div>
<!-- /wp:uagb/separator --></div></div>
<!-- /wp:uagb/container -->

<!-- wp:uagb/container {"block_id":"c2cc326d","alignItemsDesktop":"flex-start","wrapDesktop":"wrap","alignContentDesktop":"flex-start","leftPaddingDesktop":3.5,"rightPaddingDesktop":3.5,"topPaddingTablet":0,"bottomPaddingTablet":0,"leftPaddingTablet":2.5,"rightPaddingTablet":2.5,"topPaddingMobile":0,"bottomPaddingMobile":0,"leftPaddingMobile":1.5,"rightPaddingMobile":1.5,"paddingType":"em","paddingTypeTablet":"em","paddingTypeMobile":"em","topMarginDesktop":0,"bottomMarginDesktop":0,"leftMarginDesktop":0,"rightMarginDesktop":0,"variationSelected":true,"isBlockRootParent":true,"metadata":{"name":"Breadcrumb","categories":[],"patternName":"core/block/2206"}} -->
<div class="wp-block-uagb-container uagb-block-c2cc326d alignfull uagb-is-root-container"><div class="uagb-container-inner-blocks-wrap"><!-- wp:shortcode -->
[vpe_breadcrumb]
<!-- /wp:shortcode --></div></div>
<!-- /wp:uagb/container -->

<!-- wp:uagb/container {"block_id":"47c38ea5","leftPaddingDesktop":3.5,"rightPaddingDesktop":3.5,"topPaddingTablet":0,"bottomPaddingTablet":0,"leftPaddingTablet":2.5,"rightPaddingTablet":2.5,"topPaddingMobile":0,"bottomPaddingMobile":0,"leftPaddingMobile":1.5,"rightPaddingMobile":1.5,"paddingType":"em","paddingTypeTablet":"em","paddingTypeMobile":"em","paddingLink":false,"topMarginDesktop":0,"bottomMarginDesktop":6.75,"leftMarginDesktop":0,"rightMarginDesktop":0,"marginType":"em","marginLink":false,"variationSelected":true,"isBlockRootParent":true,"metadata":{"name":"Posts - Container"}} -->
<div class="wp-block-uagb-container uagb-block-47c38ea5 alignfull uagb-is-root-container"><div class="uagb-container-inner-blocks-wrap"><!-- wp:uagb/container {"block_id":"91471f28","minHeightDesktop":50,"minHeightType":"vh","directionDesktop":"row","alignItemsDesktop":"flex-end","justifyContentDesktop":"flex-start","topPaddingDesktop":3,"bottomPaddingDesktop":1,"leftPaddingDesktop":0,"rightPaddingDesktop":0,"topPaddingTablet":3,"bottomPaddingTablet":4.5,"leftPaddingTablet":0,"rightPaddingTablet":0,"topPaddingMobile":2,"bottomPaddingMobile":4,"leftPaddingMobile":0,"rightPaddingMobile":0,"paddingType":"em","paddingTypeTablet":"em","paddingTypeMobile":"em","paddingLink":false,"containerBorderLink":false,"containerBorderStyle":"none","childrenWidthDesktop":"auto","metadata":{"name":"Query Loop - Container"}} -->
<div class="wp-block-uagb-container uagb-block-91471f28"><!-- wp:query {"queryId":1,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:uagb/container {"block_id":"907d1a10","minHeightDesktop":608,"alignItemsTablet":"center","alignItemsMobile":"center","justifyContentDesktop":"flex-start","backgroundType":"color","backgroundColor":"#efefef","paddingLink":false,"layout":"grid","gridRowDesktop":[{"default":"custom","min":{"unit":"px","value":10},"max":{"unit":"fr","value":1},"custom":{"unit":"fr","value":1}},{"default":"custom","min":{"unit":"px","value":10},"max":{"unit":"fr","value":1},"custom":{"unit":"fr","value":1}}],"metadata":{"name":"Post"}} -->
<div class="wp-block-uagb-container uagb-layout-grid uagb-block-907d1a10"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","height":"260px"} /-->

<!-- wp:uagb/container {"block_id":"d8a4b0cf","alignItemsDesktop":"stretch","alignItemsTablet":"stretch","alignItemsMobile":"stretch","justifyContentDesktop":"flex-end","wrapDesktop":"wrap","topPaddingDesktop":0,"bottomPaddingDesktop":3,"leftPaddingDesktop":1.5,"rightPaddingDesktop":1.5,"paddingType":"em","paddingLink":false,"equalHeight":true,"layout":"grid","gridAlignItemsDesktop":"end","gridAlignContentDesktop":"space-between","metadata":{"name":"Post Info \u0026 Link"},"isGridCssInParent":true} -->
<div class="wp-block-uagb-container uagb-layout-grid uagb-block-d8a4b0cf"><!-- wp:uagb/container {"block_id":"1b045d95","layout":"grid","gridAlignItemsDesktop":"start","gridAlignContentDesktop":"start","metadata":{"name":"Info"},"isGridCssInParent":true,"gridSettingType":"advance","gridColumnStart":1,"gridRowStart":1,"gridRowEnd":2,"gridAlignItems":"start"} -->
<div class="wp-block-uagb-container uagb-layout-grid uagb-block-1b045d95"><!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-steel"}}}},"textColor":"custom-steel","fontSize":"custom-8","fontFamily":"roboto-mono"} /-->

<!-- wp:post-title {"level":4,"isLink":true,"style":{"spacing":{"margin":{"bottom":"0","top":"var:preset|spacing|x-small"}}}} /-->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":12,"style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-small"}}}} /--></div>
<!-- /wp:uagb/container -->

<!-- wp:uagb/container {"block_id":"0dedb9b8","layout":"grid","gridAlignItemsDesktop":"end","gridJustifyItemsDesktop":"start","gridAlignContentDesktop":"end","gridJustifyContentDesktop":"start","metadata":{"name":"Link"},"isGridCssInParent":true,"gridSettingType":"advance","gridRowStart":2,"gridRowEnd":3} -->
<div class="wp-block-uagb-container uagb-layout-grid uagb-block-0dedb9b8"><!-- wp:read-more /--></div>
<!-- /wp:uagb/container --></div>
<!-- /wp:uagb/container --></div>
<!-- /wp:uagb/container -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|body"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"typography":{"textTransform":"uppercase"}},"textColor":"body","fontSize":"custom-7"} -->
<!-- wp:query-pagination-previous {"fontSize":"custom-7"} /-->

<!-- wp:query-pagination-numbers {"fontSize":"custom-7"} /-->

<!-- wp:query-pagination-next {"fontSize":"custom-7"} /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results {"style":{"elements":{"link":{"color":{"text":"var:preset|color|body"}}}},"textColor":"body","fontSize":"custom-7"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:uagb/container --></div></div>
<!-- /wp:uagb/container -->

<!-- wp:template-part {"slug":"global-footer","theme":"spectra-child","area":"footer"} /-->
